#titulo{
    color: black;
    text-align: center;
    border-style: solid;
    background: orange;
    padding: 20;
}

.switch{
    width: 50%;

    filter: brightness(1.1); /* quita el fondo de una imagen */
    mix-blend-mode: multiply;
    padding-top: 10px;
    
    
}
.area1{

    position: relative;
    right: 590px;
    bottom: 50px;
    resize: none; /* para que no podamos cambiar su tamaño */
    outline: none;
    background-color: #252829;
    border: 0;
    color: green;
    
    width: 410px;
    font-size: 18px;
    
}

.area2{
    
    position: relative;
    left: 480px;
    bottom: 490px;
    width: 350px;
    height: 183px;
    border: 0px;
    color: green;
    outline: none;
    resize: none;






}
.pantalla{
    width: 30%;
    filter: brightness(1.1); /* quita el fondo de una imagen */
    mix-blend-mode: multiply;

    position: relative;
    left: 880px;
    bottom: 330px;
}

#boton1{
    background-color: black;
    color: white;
    border-radius: 10px;
    position: relative;
    bottom: 620px;
    right: 147px;

}
#boton1:hover{
    background-color: red;
    cursor: pointer;
}

#boton2{
    background-color: black;
    color: white;
    border-radius: 10px;
    position: relative;

    bottom: 642px;
    right: 153px;

}

#boton2:hover{
    background-color: greenyellow;
    cursor: pointer;
}


#boton3{
    background-color: black;
    color: white;
    border-radius: 15px;
    position: relative;

    bottom: 642px;
    right: 227px;

}

#boton3:hover{
    background-color: blue;
    cursor: pointer;
}


#boton4{

    background-color: black;
    color: white;
    border-radius: 15px;
    position: relative;

    bottom: 663px;
    right: 230px;

}
#boton4:hover{
    background-color: yellow;
    cursor: pointer;
    color: black;
}

footer{
    background-color: gray;
    padding: 10px;

}

.abajo{
    text-align: center;

}

 
